<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ban54.paylib">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD"/>
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc.hce"/>

    <application>

        <activity
                android:name="com.alipay.sdk.auth.AuthActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="portrait"/>

        <activity
                android:name="com.alipay.sdk.app.H5PayActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="behind"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name="com.alipay.sdk.app.H5AuthActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="behind"/>

        <!-- 银联支付 -->
        <uses-library android:name="org.simalliance.openmobileapi" android:required="false"/>

        <activity
                android:name=".unpay.UnionPayCallbackActivity"
                android:configChanges="orientation|keyboardHidden|keyboard"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:screenOrientation="portrait"/>

        <activity
                android:name="com.unionpay.uppay.PayActivity"
                android:configChanges="orientation|keyboardHidden|keyboard"
                android:screenOrientation="portrait"/>

        <activity
                android:name="com.unionpay.UPPayWapActivity"
                android:configChanges="orientation|keyboardHidden|fontScale"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize"/>
    </application>
</manifest>
